<h2>Contact Component</h2>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBC</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<main>
<section class="contact" id="second">
    <a href="#">
        <h1 class="teacher_title">Jack Schultz</h1>
        <h2 class="teacher_job">College Pastor, Student Ministry Associate</h2>
        <p class = "teacher_bio">This is Jack's biography!</p>
    </a>
</section>
<section class="contact" id="first">
    <a href="#">
        <h1 class="teacher_title">Anna Burns</h1>
        <h2 class="teacher_job">Physician Assistant</h2>
        <p class = "teacher_bio">This is Anna's biography!</p>
    </a>
</section>
<div class="clearfix"></div>
<section class="contact" id="third">
    <a href="#">
        <h1 class="teacher_title">Brodie burns</h1>
        <h2 class="teacher_job">Oxford Middle School Information & Communication Technology (ICT)
        Teacher; 7th Grade Football Assistant Coach</h2>
        <p class = "teacher_bio">This is Brodie's biography!</p>
    </a>
</section>


</main>
<footer class="main-footer">
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a href="https://gotofirst.org/">FBC Main Website</a>
      </li>
      <li class="main-footer__link">
        <a href="http://www.sbc.net/bfm2000/bfm2000.asp">Southern Baptist Convention Beliefs</a>
      </li>
    </ul>
  </nav>
</footer>

