<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBC</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<main>
  <section id="recaps-overview">
    <h1>Follow Us On Our Lesson Plan!</h1>
  </section>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="recaps.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let recap of recaps">
    <mat-expansion-panel-header>
      {{ recap.title }}
    </mat-expansion-panel-header>
    <div class="recap-image">
      <img [src]="recap.imagePath" [alt]="recap.title">
    </div>
    <p>{{ recap.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === recap.creator">
      <a mat-button color="primary" [routerLink]="['/editRecap', recap.id]">EDIT</a>
      <button mat-button delete="warn" (click)="onDelete(recap.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalRecaps" [pageSize] ="recapsPerPage" [pageSizeOptions]="recapSizeOptions" (page)="onChangedRecap($event)" *ngIf="recaps.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="recaps.length <=0 && !isLoading">No recaps added yet!</p>
</main>
<footer class="main-footer">
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a href="https://gotofirst.org/">FBC Main Website</a>
      </li>
      <li class="main-footer__link">
        <a href="http://www.sbc.net/bfm2000/bfm2000.asp">Southern Baptist Convention Beliefs</a>
      </li>
    </ul>
  </nav>
</footer>

