<mat-card>
<form (submit)= "onSaveRecap(recapForm)" #recapForm="ngForm">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="title"
      [ngModel] = recap?.title
      required
      minlength="3"
      placeholder ="Entry Title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
  </mat-form-field>
  <mat-form-field>
  <textarea
      matInput
      rows="4"
      name="content"
      [ngModel] = recap?.content
      required
      placeholder="Entry Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    type="submit">Save Recap</button>
</form>

</mat-card>

