<app-header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBC</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</app-header>

<main>
  <section id="website-overview">
    <h1>Welcome to the First Baptist Church College Ministry Website!</h1>
  </section>
  <section id="events-overview">
    <h1>Checkout Some of Our Events!</h1>
  </section>
  <router-outlet></router-outlet>
  <section id="information">
      <h1 class="section-title">Some Regular Information!</h1>
      <div>
        <article class = "event">
          <h1 class ="event_title">Sunday Night Hangout</h1>
          <h2 class ="event_times">Every Week at 6</h2>
          <h3 class="event_location">Room:xxx in Building Across from Main</h3>
          <ul class="event_features">
            <li class="event_features">Bible Study</li>
            <li class="event_features">Snacks</li>
            <li class="event_features">Evening Service</li>
          </ul>
          <div>
            <button>More Details</button>
          </div>
        </article>
        <article class = "event event--highlighted">
          <h1 class="event_annotation">JOIN US</h1>
          <h1 class ="event_title">Sunday School </h1>
          <h2 class="event_times">Every Week at 9:45</h2>
          <h3 class="event_location">Room:xxx in Building Across from Main</h3>
          <ul class="event_features">
            <li class="event_features">Reading Through Bible in 4 Years</li>
            <li class="event_features">In Table Groups with Adult Table Leaders</li>
            <li class="event_features">Free Breakfast</li>
            <li class="event_features">Often Go Out to Eat Afterwards</li>
          </ul>
          <div>
            <button>CONTACT INFORMATION</button>
          </div>
        </article>
        <article class = "event">
          <h1 class ="event_title">Wednesday Night Church</h1>
          <h2 class ="event_times">Every Week at 5</h2>
          <h3 class="event_location">Church Fellowship Hall</h3>
          <ul class="event_features">
            <li class="event_features">Students Eat Free</li>
            <li class="event_features">Can Join Bible Study</li>
            <li class="event_features">Help With Awana</li>
          </ul>
          <div>
            <button>More Details</button>
          </div>
        </article>
      </div>
  </section>
</main>
