<app-header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBC</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</app-header>

<main>
  <section id="website-overview">
    <h1>Welcome to the First Baptist Church College Ministry Website!</h1>
  </section>
  <section id="events-overview">
    <h1>Checkout Some of Our Events!</h1>
  </section>
  <router-outlet></router-outlet>
  <section id="information">
      <h1 class="section-title">Some Regular Information!</h1>
      <div>
        <article>
          <h1>Sunday School</h1>
          <h2>Every Week at 9:45</h2>
          <h3>Room:xxx in Building Across from Main</h3>
          <ul>
            <li>Reading Through Bible in 4 Years</li>
            <li>In Table Groups with Adult Table Leaders</li>
            <li>Free Breakfast</li>
            <li>Often Go Out to Eat Afterwards</li>
          </ul>
          <div>
            <button>CONTACT INFORMATION</button>
          </div>
        </article>
        <article>
          <h1>Sunday Night Hangout</h1>
          <h2>Every Week at 6</h2>
          <h3>Room:xxx in Building Across from Main</h3>
          <ul>
            <li>Bible Study</li>
            <li>Snacks</li>
            <li>Before Evening Service</li>
          </ul>
          <div>
            <button>More Details</button>
          </div>
        </article>
        <article>
          <h1>Wednesday Night Church</h1>
          <h2>Every Week at 5</h2>
          <h3>Church Fellowship Hall</h3>
          <ul>
            <li>Students Eat Free</li>
            <li>Can Join Bible Study</li>
            <li>Help With Awana</li>
          </ul>
          <div>
            <button>More Details</button>
          </div>
        </article>
      </div>
  </section>
</main>
