<app-header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBC</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</app-header>

<main>
  <section id="website-overview">
    <h1>Welcome to the First Baptist Church College Ministry Website!</h1>
  </section>
  <router-outlet></router-outlet>
  <section id="doctrine">
      <h1 class="section-title">Choose What You Would Like To See!</h1>
      <p>Make sure you check out our doctrinal statements!</p>
  </section>
</main>
