@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header-link a:hover {
  color: bold black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

span {
  padding-left: 20px;
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
}

