<div class = "main-header">
  <mat-toolbar class="header-color">
  <span >
    <div>
      <a routerLink="/" class="main-header-event">FBC Events
    </a>

    </div>
  </span>
  <span class="spacer"></span>
  <ul class="main-nav">
     <li>
      <a class="header-link" mat-button routerLink="/contact" routerLinkActive="mat-accent">Contact</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="header-link" mat-button routerLink="/create" routerLinkActive="mat-accent">New Event</a>
    </li>
    <li>
      <a class="header-link" mat-button routerLink="/recap">DevotionalRecap</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="header-link" mat-button routerLink="/createRecap">CreateRecap</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="header-link" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Admin</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="header-link" mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click) = "onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
</div>

