@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header-link a:hover {
  color: bold black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

span {
  padding-left: 20px;
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
}

.header-color {
  background-color: #2ddf5c;
}

.main-header-event {
  color: #034f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
}

.main-nav a {
  text-decoration: none;
  color: #0e4f1f;
}

.main-header img {
  height: 50px;
}

